/*
    1. Posicionamiento
    2. Modelo de caja
    3. Tipografia
    4. Visuales
    5. Otros
*/
:root{
    --color-primario:#323643;
    --color-secundario:#606470;
    --color-terciario:#93DEFF;
    --color-acentuar:#F7F7F7;
}
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:wght@100;300;400;500;700;900&display=swap');


html{
    /* font-family: 'Anton', sans-serif; */     /* Tittles */
    font-family: 'Roboto', sans-serif;          /* Content */
    font-size: 62.2%;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-size: 1.5rem;
    background-color: var(--color-primario);
}
