<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./navbar.css">
    <link rel="stylesheet" href="./home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <title>Document</title>
</head>
<body>
    <header>
        <section class="wrapper">

            <nav>
        
                <ul>
                    <li>
                        <a class="logo" href="#">
                            <img src="../../img/logoOspinajuanp.png" alt="" srcset="">
                        </a>
                    </li>
                    <li>
                        <a href="#container__home">
                            <i class="fas fa-home"></i>
                            <span class="nav-item">Home</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa-solid fa-code"></i>
                            <span class="nav-item">Works</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa-solid fa-address-card"></i>
                            <span class="nav-item">About Me</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa-solid fa-address-book"></i>
                            <span class="nav-item">Contact me</span>
                        </a>
                    </li>
                    
                </ul>
            </nav>
        </section>
    </header>

    <main>

        <section id="container__home" class="container__home">
            <figure class="container__home-img">
                <img src="../../img/foto.png" alt="Foto ospinajuanp">
            </figure>
            <div class="container__home-description">
                <p>
                    Hi!
                </p>
                <p>
                    I'm Juan Pablo Ospina Restrepo
                </p>
                <p>
                    Frontend developer.
                </p>
            </div>
        </section>
        
    </main>
</body>
</html>