/*
    1. Posicionamiento
    2. Modelo de caja
    3. Tipografia
    4. Visuales
    5. Otros
*/

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:wght@100;300;400;500;700;900&display=swap');

$color-primario:#323643;
$color-secundario:#606470;
$color-terciario:#93DEFF;
$color-acentuar:#F7F7F7;
$font-family-tittle: 'Anton', sans-serif;
$font-family-content: 'Roboto', sans-serif;          /* Content */


html{
    font-size: 62.2%;
}
*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    font-family: $font-family-content;
    font-size: 1.5rem;
    background-color: $color-primario;
}

.container__contact{
    width: 100%;
    height: auto;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    background-color: $color-secundario;

    &-form{
        width: 100%;
        max-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;

        form{
            width: 90%;
            max-width: 600px;
            padding: 2vw 4vw;
            display: flex;
            flex-direction: column;
            background-color: $color-primario;
            border-radius: 1rem;

            h3{
                color: $color-terciario;
                font-weight:800 ;
                margin-bottom: 2rem;
            }

            input, textarea{
                border: 0;
                margin: 1rem 0;
                padding: 2rem;
                outline: none;
                font-size: 1.6rem;
                background-color: $color-acentuar;
            }
            
            button{
                width: 15rem;
                margin: 2rem auto 0;
                padding: 1.5rem;
                border-radius: 3rem;
                font-size: 1.6rem;
                color: $color-primario;
                border: 0;
                outline: none;
                cursor: pointer;
                background: $color-terciario;
            }
        }

    }
    &-redes{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color:  $color-primario;
        max-width: 600px;

        a:hover{
            background-color: $color-terciario;
        }
    }
    
    a:link, a:visited, a:active, a:hover{
        text-decoration:none;
        .fa-linkedin {
            color: #0a66c2;
        }
        .fa-github-alt {
            color: #161b22;
        }
        .fa-twitter {
            color: #1d9bf0;
        }
        .fa-instagram {
            color: #000;
        }
        .fa-facebook {
            color: #2374e1;
        }
    }

}